/* Remove a margem inicial. */
body { 
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    display: table;
    height: 60px;
    background: linear-gradient(rgb(241, 150, 165),blue);
}
header span {
    font-size: 24px;
    font-family: cursive;
    font-weight: bold ; 
    color:rgb(240, 245, 248);
    padding: 11px;
    display: table;
    margin: 0 auto;
}
#posts {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    padding: 30px;
    display: table;
}
.posts img {
    max-width: 600px; 
}
img {
    width: 400px;
    height: auto;
    margin: 30px;
}
