h1 {
    text-align: center;
}
#samples {
    display: table;
    margin: 0 auto;
    max-width: 440px;
}


button {
    background: #ccc;
    border: 20px solid #e91e63;
    width: 200px;
    height: 70px;
    margin: 10px;
}